.user-menu {
  --size: 2.5rem;
  --corner-offset: 0.5rem;
  align-items: center;
  background: rgba(var(--colors-mono-01-rgb), 0.75);
  border: 0.0625rem solid var(--colors-mono-01);
  border-radius: 50%;
  bottom: var(--corner-offset);
  display: flex;
  height: var(--size);
  justify-content: center;
  position: fixed;
  right: var(--corner-offset);
  width: var(--size);

  .icon {
    color: var(--colors-info);
    font-size: 1.5rem;
  }
}

.user-menu-header {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  .label {
    color: var(--colors-mono-08);
    font-size: 0.6rem;
    font-style: italic;
    line-height: 0.75rem;
    width: 100%;
  }

  .email {
    line-height: 1rem;
    width: 100%;
  }

  .icon-button.user-logout-button {
    --size: 1.85rem;
    align-items: center;
    border: 0.0625rem solid var(--colors-mono-04);
    border-radius: 50%;
    display: inline-flex;
    height: var(--size);
    justify-content: center;
    line-height: 1;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: var(--size);

    .icon {
      color: var(--colors-links);
      display: block;
      font-size: 1.25rem;
      line-height: 1;
    }
  }
}
