.blips {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(0, 1fr);
  justify-self: anchor-center;
  list-style: none;
  margin: 0 auto;
  max-width: 60rem;
  padding: 0;

  > li {
    min-width: 0;
  }

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
