.global-loading-indicator-track {
  background: transparent;
  height: 0.0625rem;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.global-loading-indicator {
  background: var(--colors-info);
  height: 0.0625rem !important;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left center;
  transition:
    transform 350ms ease-out,
    opacity 200ms ease-out;
  width: 100%;
}

.global-loading-indicator[aria-hidden="true"] {
  transition: opacity 200ms ease-out;
}

.global-loading-indicator__shadow {
  box-shadow: 0 0 10px var(--colors-info), 0 0 5px var(--colors-info);
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: rotate(3deg) translate(0, -4px);
  transition:
    left 350ms ease-out,
    opacity 200ms ease-out;
  width: 5%;
}

.global-loading-indicator[aria-hidden="true"] + .global-loading-indicator__shadow {
  transition: opacity 200ms ease-out;
}
