.icon-button {
  align-items: center;
  border-radius: 50%;
  background: rgba(var(--colors-mono-01-rgb), 0.75);
  border: 0.0625rem solid var(--colors-mono-01);
  display: flex;
  justify-content: center;
  transition: var(--transitions-primary);

  &:hover {
    background: rgba(var(--colors-mono-01-rgb), 0.9);
  }

  &[disabled] {
    cursor: not-allowed;

    .icon {
      opacity: 0.25;
    }
  }

  &.xs {
    --size: 1.5rem;
    height: var(--size);
    width: var(--size);

    .icon {
      font-size: 1.25rem;
    }
  }

  &.sm {
    --size: 2.5rem;
    height: var(--size);
    width: var(--size);
  }

  &.md {
    --size: 3.75rem;
    height: var(--size);
    width: var(--size);

    .icon {
      font-size: 2.5rem;
    }
  }

  &.lg {
    --size: 5rem;
    height: var(--size);
    width: var(--size);

    .icon {
      font-size: 3.5rem;
    }
  }
}
