.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
 
  .login-shell {
    align-items: center;
    width: 24rem;
  }

  .login-card {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(0.75rem);
    backdrop-filter: blur(0.75rem);
  }

  .login-error {
    margin-bottom: 0.5rem;
  }

  .login-password-input {
    letter-spacing: 0.25rem;
  }

  .login-form-actions {
    width: 100%;
    margin-top: 1rem;
  }

  .login-submit-button {
    width: 100%;
  }

  .login-home-link {
    display: flex;
    font-size: 0.875rem;
    transition: var(--transitions-primary);

    &,
    &:link,
    &:visited {
      color: var(--colors-mono-09);
      margin: 0;
      padding: 0.5rem;
    }

    &:hover {
      color: var(--colors-links);
    }
  }
}
